In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [3]:
od=pd.read_csv("train-data.csv")
td=pd.read_csv("test-data.csv")

In [4]:
print(od.shape)
print(' ')
print(td.shape)

(6019, 14)

(1234, 13)

In [5]:
od.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [6]:
od.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,6019.0,3009.000000,1737.679967,0.00,1504.5,3009.00,4513.50,6018.0
Year,6019.0,2013.358199,3.269742,1998.00,2011.0,2014.00,2016.00,2019.0
Kilometers_Driven,6019.0,58738.380296,91268.843206,171.00,34000.0,53000.00,73000.00,6500000.0
Seats,5977.0,5.278735,0.808840,0.00,5.0,5.00,5.00,10.0
Price,6019.0,9.479468,11.187917,0.44,3.5,5.64,9.95,160.0

In [7]:
od.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

In [8]:
od_mod=od.copy()

In [9]:
od_mod.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [10]:
od_mod = od_mod.rename(columns={'Engine': 'Engine(CC)', 'Power': 'Power(bhp)','Price':'Price in Lakhs'})

In [11]:
od_mod.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine(CC)             36
Power(bhp)             36
Seats                  42
New_Price            5195
Price in Lakhs          0
dtype: int64

In [12]:
od_mod.drop('Unnamed: 0',axis=1,inplace=True)
od_mod.drop('New_Price',axis=1,inplace=True)

In [13]:
print(od_mod['Engine(CC)'].mode())
print(od_mod['Power(bhp)'].mode())
print(od_mod['Mileage'].mode())
print(od_mod['Seats'].mode())

0    1197 CC
dtype: object
0    74 bhp
dtype: object
0    17.0 kmpl
1    18.9 kmpl
dtype: object
0    5.0
dtype: float64

In [14]:
od_mod['Engine(CC)']=od_mod['Engine(CC)'].fillna("1197 CC")

In [15]:
od_mod['Power(bhp)']=od_mod['Power(bhp)'].fillna("74 bhp")

In [17]:
od_mod['Mileage'] = [float(str(i).replace(",", "")) for i in od_mod['Mileage'].fillna("17 kmpl")]

In [36]:
od_mod['Seats']=od_mod['Seats'].fillna("5.0")

In [37]:
od_mod.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              2
Engine(CC)           0
Power(bhp)           0
Seats                0
Price in Lakhs       0
dtype: int64

In [38]:
od_mod['Engine(CC)']=pd.to_numeric(od_mod['Engine(CC)'].str.lower().str.split().str.get(0),errors='coerce')
od_mod['Power(bhp)']=pd.to_numeric(od_mod['Power(bhp)'].str.lower().str.split().str.get(0),errors='coerce')
od_mod['Mileage']=pd.to_numeric(od_mod['Mileage'].str.lower().str.split().str.get(0),errors='coerce')

In [ ]:
od_mod.info()

In [ ]:
od_mod['Manufacturer'] = [i.split()[0] for i in od_mod['Name']]

In [ ]:
od_mod['Manufacturer'].value_counts()

In [ ]:
#Moving Manufacturer in first column
first_column=od_mod.pop('Manufacturer')
od_mod.insert(0,'Manufacturer',first_column)

In [ ]:
od_mod.head()

In [ ]:
od_mod['Manufacturer'].value_counts()

In [ ]:
od_mod.corr()['Price in Lakhs']

In [ ]:
plt.figure(figsize=(12,6))
od_mod.groupby('Manufacturer')['Price in Lakhs'].mean().plot(kind='bar')

In [ ]:
plt.figure(figsize=(12,6))
od_mod.groupby('Power(bhp)')['Price in Lakhs'].mean().plot()

In [ ]:
plt.figure(figsize=(12,6))
od_mod.groupby('Engine(CC)')['Price in Lakhs'].mean().plot()

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(data=od_mod,x='Fuel_Type')

In [ ]:
plt.figure(figsize=(12,6))
od_mod.groupby('Fuel_Type')['Mileage'].mean().plot()

In [ ]:
plt.figure(figsize=(12,6))
od_mod.groupby('Fuel_Type')['Price in Lakhs'].mean().plot(kind='bar')

In [ ]:
plt.figure(figsize=(12,6))
od_mod.groupby('Manufacturer')['Kilometers_Driven'].mean().plot(kind='bar')

In [ ]:
od_mod.groupby('Transmission')['Mileage'].mean()

In [ ]:
plt.figure(figsize=(12,6))
od_mod.groupby('Location')['Price in Lakhs'].mean().plot(kind='bar')

In [1]:
names=od_mod['Name'].value_counts()
names_less_than_11=names[names<=10]

NameError: name 'od_mod' is not defined

In [ ]:
len(names[names<=10])

In [ ]:
od_mod['Name']=od_mod['Name'].apply(lambda i:'Other' if i in names_less_than_11 else i)

In [ ]:
od_mod['Name'].value_counts()

## Checking for outliers

In [ ]:
od_mod[od_mod['Mileage']<=5]

In [ ]:
mileage_mean=od_mod['Mileage'].mean()
od_mod['Mileage']=[i if i>5 else float(int(mileage_mean)) for i in od_mod['Mileage']]

In [ ]:
od_mod[od_mod['Kilometers_Driven']>500000]

In [ ]:
km_driven_mean = od_mod['Kilometers_Driven'].mean()
od_mod['Kilometers_Driven']=[i if i<500000 else float(int(km_driven_mean)) for i in od_mod['Kilometers_Driven']]

In [ ]:
#Age w.r.t 2021
od_mod['Age']=[2021-i for i in od_mod['Year']]

In [ ]:
od_mod.head()

In [ ]:
#Moving age to 4th place
fourth_column=od_mod.pop('Age')
od_mod.insert(4,'Age',fourth_column)

In [ ]:
od_mod.head()

In [ ]:
od_mod.info()

In [ ]:
od_mod['Seats']=od_mod['Seats'].astype(str).astype(float)

In [ ]:
power_mode=od_mod['Power(bhp)'].mode()
od_mod['Power(bhp)']=od_mod['Power(bhp)'].fillna(float(int(power_mode)))

In [49]:
od_mod['Engine(CC)'].mean()

1618.7388270476824

In [48]:
od_mod[od_mod['Engine(CC)']>2000]['Engine(CC)'].nunique()

66

In [60]:
od_mod['Owner_Type'].value_counts()

First             4929
Second             968
Third              113
Fourth & Above       9
Name: Owner_Type, dtype: int64

In [52]:
owner_dict={'First':1,
            'Second':2,
            'Third':3,
            'Fourth & Above':4}

In [53]:
od_mod['Owner_Type']=od_mod['Owner_Type'].map(owner_dict)

In [54]:
od_mod['Transmission_Numeric']=pd.get_dummies(od_mod['Transmission'],drop_first=True)

In [56]:
numeric_data=od_mod[['Year','Age','Kilometers_Driven','Transmission_Numeric','Owner_Type','Mileage','Engine(CC)','Power(bhp)','Seats','Price in Lakhs']]

In [57]:
#Using One Hot Encoding
manufacturer_dummies = pd.get_dummies(od_mod['Manufacturer'])
name_dummies = pd.get_dummies(od_mod['Name'])
location_dummies = pd.get_dummies(od_mod['Location'])
fuel_type_dummies = pd.get_dummies(od_mod['Fuel_Type'])

In [58]:
final_ds=pd.concat([numeric_data,manufacturer_dummies,name_dummies,location_dummies,fuel_type_dummies],axis=1)

In [59]:
final_ds.head()

,Year,Age,Kilometers_Driven,Transmission_Numeric,Owner_Type,Mileage,Engine(CC),Power(bhp),Seats,Price in Lakhs,...,Jaipur,Kochi,Kolkata,Mumbai,Pune,CNG,Diesel,Electric,LPG,Petrol
0,2010,11,72000.0,1,1,26.60,998,58.16,5.0,1.75,...,0,0,0,1,0,1,0,0,0,0
1,2015,6,41000.0,1,1,19.67,1582,126.20,5.0,12.50,...,0,0,0,0,1,0,1,0,0,0
2,2011,10,46000.0,1,1,18.20,1199,88.70,5.0,4.50,...,0,0,0,0,0,0,0,0,0,1
3,2012,9,87000.0,1,1,20.77,1248,88.76,7.0,6.00,...,0,0,0,0,0,0,1,0,0,0
4,2013,8,40670.0,0,2,15.20,1968,140.80,5.0,17.74,...,0,0,0,0,0,0,1,0,0,0

In [60]:
age_array=final_ds['Age'].values
kms_array=final_ds['Kilometers_Driven'].values
mileage_array=final_ds['Mileage'].values
engine_array=final_ds['Engine(CC)'].values
power_array=final_ds['Power(bhp)'].values
owner_array=final_ds['Owner_Type'].values
seats_array=final_ds['Seats'].values

In [61]:
std_scaler=StandardScaler()

In [62]:
Age=std_scaler.fit_transform(age_array.reshape(-1,1))
final_ds['Age']=pd.DataFrame(Age)
Kilometers_Driven=std_scaler.fit_transform(kms_array.reshape(-1,1))
final_ds['Kilometers_Driven']=pd.DataFrame(Kilometers_Driven)
Mileage=std_scaler.fit_transform(mileage_array.reshape(-1,1))
final_ds['Mileage']=pd.DataFrame(Mileage)
Engine=std_scaler.fit_transform(engine_array.reshape(-1,1))
final_ds['Engine(CC)']=pd.DataFrame(Engine)
Power=std_scaler.fit_transform(power_array.reshape(-1,1))
final_ds['Power(bhp)']=pd.DataFrame(Power)
Owner=std_scaler.fit_transform(owner_array.reshape(-1,1))
final_ds['Owner_Type']=pd.DataFrame(Owner)
Seats=std_scaler.fit_transform(seats_array.reshape(-1,1))
final_ds['Seats']=pd.DataFrame(Seats)

In [63]:
final_ds.head()

,Year,Age,Kilometers_Driven,Transmission_Numeric,Owner_Type,Mileage,Engine(CC),Power(bhp),Seats,Price in Lakhs,...,Jaipur,Kochi,Kolkata,Mumbai,Pune,CNG,Diesel,Electric,LPG,Petrol
0,2010,1.027139,0.418971,1,-0.444554,1.990376,-1.033882,-1.011188,-0.343293,1.75,...,0,0,0,1,0,1,0,0,0,0
1,2015,-0.502161,-0.467354,1,-0.444554,0.320901,-0.061191,0.259134,-0.343293,12.50,...,0,0,0,0,1,0,1,0,0,0
2,2011,0.721279,-0.324398,1,-0.444554,-0.033230,-0.699103,-0.440999,-0.343293,4.50,...,0,0,0,0,0,0,0,0,0,1
3,2012,0.415419,0.847838,1,-0.444554,0.585897,-0.617491,-0.439879,2.137237,6.00,...,0,0,0,0,0,0,1,0,0,0
4,2013,0.109559,-0.476789,0,1.746903,-0.755947,0.581718,0.531719,-0.343293,17.74,...,0,0,0,0,0,0,1,0,0,0

In [64]:
#final_ds.to_csv('Used_Cars_Cleaned1.csv',index=False)

## Training

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [66]:
X=final_ds.drop(['Price in Lakhs','Year'],axis=1)
y=final_ds['Price in Lakhs']

In [67]:
y=std_scaler.fit_transform(y.values.reshape(-1,1))
y

array([[-0.69093384],
       [ 0.27000402],
       [-0.44511253],
       ...,
       [-0.58813584],
       [-0.61048323],
       [-0.62389166]])

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [69]:
rfr=RandomForestRegressor()

In [70]:
rfr.fit(X_train,y_train.ravel())

RandomForestRegressor()

In [71]:
result=rfr.predict(X_test)

In [82]:
print(mean_squared_error(result,y_test.ravel(),squared=False))
print(mean_absolute_error(result,y_test.ravel()))

0.3219417440137792
0.1352498659100417

In [74]:
result

array([-0.31056335,  0.32698987, -0.136647  , ..., -0.52707382,
       -0.330676  , -0.15442659])